@charset 'UTF-8';

/* CSS Document */
/* Reset some default styles 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}*/



body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif, sans-serif;
  background-color: #208cc6;
  color: #d7d7d7;
  line-height: 1.6;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.list {
  align-items: center;
  width: 90%;
  max-width: 960px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  list-style-type: none;
}

.list-item {
  background-color: #cfcfcf;
  color: rgb(48, 58, 76);
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  background-image: url("images/thumb01.jpg");

  flex-basis: 250px;
  text-align: center;
}

.list-item__avatar img {
  border-radius: 50%;
  width: 80px;
}


